.container {
    display: flex;
    height: 100vh; /* Ocupa 100% da altura da tela */
}

.container_second {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.flex{
    display: flex;
}

.botao{
    display: flex;
    margin-top: 1em;
    gap: 5px;
}