.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #1a4f77;
    border-radius: 5%;
    padding: 3%;
}

.container_second {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* tira o foco da div */
    user-select: none;
}

.border{
    border: 2px solid aquamarine;
}

.campos{
    display: flex;
    gap: 5%;
    margin-bottom: 1.5em;
}

.logo{
    width: 200px;
    text-align: center;
    align-items: center;
}

.icons{
    width: 30px;
}

.submit{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button{
    height: 40px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    background-color: #1a4f77;
    color: white;
    text-align: center;
    transition: all 0.5s;
}

button:hover{
    background-color: rgb(52, 143, 212);
    /* transform: scale(1.0); */
}

input[type="text"],
input[type="password"] {
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 0 0 0 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #1a4f77;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}