.container {
    display: flex;
    height: 100vh; /* Ocupa 100% da altura da tela */
}

.container_second {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 40px 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.flex{
    display: flex;
}

.flex button {
    margin: 5px 5px 0 5px;
}

.boxes{
    margin: 5px;
    width: 260px;
    /* display: flex; */
    justify-content: space-around;
}

.center{
    display: flex;
    margin-top: 2%;
}

h4{
    background-color: #1a4f77;
    color: #fff;
    padding: 1%;
    width: 370px;
    border-radius: 10px;
}


.inputs{
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

/* Quando o select está em foco */
.inputs:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Quando passa o mouse */
.inputs:hover {
    border-color: #0056b3;
}

/* Personalizando a seta */
.inputs::-ms-expand {
    display: none;
}

select {
    margin:0;
}

/* .inputs {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23000' d='M2 0L0 2h4zM2 5l2-2H0z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
} */