.container{
    display: flex;
    /* border: 2px solid black; */
}

.container_second{
    margin: 0 auto;
    margin-top: 10em;
    padding: 2%;
    border: 2px solid #1a4f77;
    border-radius: 10px;
    height: 100%;
    width: 950px;
}

.boxes{
    margin: 1%;
}

section main section{
    display: flex;
    margin-top: 2%;
}

h4{
    background-color: #1a4f77;
    color: #fff;
    padding: 1%;
    width: 41.5%;
    border-radius: 10px;
}

select {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

/* Quando o select está em foco */
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Quando passa o mouse */
select:hover {
    border-color: #0056b3;
}

/* Personalizando a seta */
select::-ms-expand {
    display: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23000' d='M2 0L0 2h4zM2 5l2-2H0z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}