.campos{
    display: flex;
    flex-direction: column;
    margin: 0 0.5em 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"] {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 5px 0 5px 5px;
    transition: all 0.3s ease-in-out;
    margin: 3px 0 0 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {
    color: #1a4f77;
    border-color: #1a4f77;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

div label{
    margin-left: 5px;
}