.top_title{
    width: 100%;
    border-bottom: 2px solid #1a4f77;
    background-color: #fff;
    color: #1a4f77;
    align-items: center;
    user-select: none;
    padding: 7px;
    display: flex;
    justify-content: center;
}

.logo{
    width: 50px;
    height: 50px;
}

.flex{
    display: flex;
}